<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Styles/signup_style.css"type="text/css" media="all" />
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
